<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login Form</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="loginForm">
      <mat-form-field color="accent">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile">
        <mat-error *ngIf="loginForm.get('mobile')?.hasError('required')">
          Mobile number is required!
        </mat-error>
        <mat-error *ngIf="loginForm.get('mobile')?.hasError('pattern')">
          Invalid mobile number! Must be 10 digits.
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Patient ID</mat-label>
        <input matInput formControlName="patient_id">
        <mat-error *ngIf="loginForm.get('patient_id')?.hasError('required')">
          Patient ID is required!
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="login()" [disabled]="!loginForm.valid">Login</button>
    </mat-card-actions>

    <mat-card-actions>
      <h4>Don't have an account?</h4>
      <a mat-stroked-button color="accent" routerLink="/register">Register</a>
    </mat-card-actions>
  </mat-card>

  <img src="../../../assets/medicine_app.png" alt="Description of image" class="login-image">
</div>
