:host {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

.progress-bar {
  width: 100%;
  max-width: 600px;
  border-bottom-left-radius: 1.5rem; /* Rounded corners to match the card */
  border-bottom-right-radius: 1.5rem;
  overflow: hidden; /* Prevents the bar from overflowing */
}

.login-card {
  flex: 1;
  max-width: 600px;
  border-radius: 1.5rem; /* Rounded corners */
  position: relative; /* Allow positioning within this card */
  overflow: hidden; /* Ensures inner content like the progress bar respects the border-radius */
}

.login-image {
  max-width: 750px;
  height: 60vh;
  margin-left: 10px;
  border-radius: 2rem;
  opacity: 0.9;
}

mat-card {
  mat-card-header {
    display: flex;
    justify-content: center;

    mat-card-title {
      font-size: 2rem;
      // color: $dark-accent-A200;
    }
  }

  mat-form-field {
    width: 100%;
    padding-top: 1rem;
  }

  mat-card-actions {
    button {
      margin: auto;
      width: 80%;
    }

    h4 {
      margin: 0;
      padding-right: 1rem;
    }
  }
}
