<mat-form-field color="accent" appearance="outline">
  <mat-label>Enter Order ID</mat-label>
  <input matInput (input)="viewOrderById(orderIdField.value)" #orderIdField placeholder="Order ID" />
  <button mat-icon-button matSuffix (click)="viewOrderById(orderIdField.value)">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<pre>{{ ordersToDisplay | json }}</pre>

<mat-card *ngIf="loading">
  <mat-card-content>
    <mat-spinner></mat-spinner> Searching for medicines...
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!loading && getMedicineCount() > 0">
  <mat-card-content>
    Showing {{ getMedicineCount() }} Medicines.
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!loading && getMedicineCount() === 0">
  <mat-card-content> No medicines found. </mat-card-content>
</mat-card>

<mat-card *ngIf="errorMessage">
  <mat-card-content>
    <span style="color: red">{{ errorMessage }}</span>
  </mat-card-content>
</mat-card>


<div *ngIf="!loading && getMedicineCount() > 0">
  <ng-container *ngFor="let item of ordersToDisplay">
    <mat-card class="medicine-card">
      <mat-card-header>
        <mat-card-title>{{ item.id }}</mat-card-title>
        <mat-card-subtitle>{{ item.order_number }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Price:</strong> {{ item.id }}</p>
        <p><strong>Price:</strong> {{ item.order_number }}</p>

        <p><strong>Price:</strong> {{ item.amount }}</p>
        <p><strong>Price:</strong> {{ item.discount }}</p>

        <p><strong>Price:</strong> {{ item.total }}</p>
        <p><strong>Price:</strong> {{ item.address_name }}</p>

        <p><strong>Price:</strong> {{ item.address }}</p>
        <p><strong>Price:</strong> {{ item.address_line2 }}</p>

        <p><strong>Price:</strong> {{ item.city }}</p>
        <p><strong>Price:</strong> {{ item.state }}</p>

        <p><strong>Price:</strong> {{ item.zipcode }}</p>
        <p><strong>Price:</strong> {{ item.order_status }}</p>

        <p><strong>Price:</strong> {{ item.created_date }}</p>
        <p><strong>Price:</strong> {{ item.order_delivery_datetime }}</p>

        <p><strong>Price:</strong> {{ item.pharmacy_name }}</p>
        <p><strong>Price:</strong> {{ item.chemist_mobile }}</p>

        <p><strong>Price:</strong> {{ item.chemist_address }}</p>
        <p><strong>Price:</strong> {{ item.chemist_city }}</p>

        <p><strong>Price:</strong> {{ item.chemist_latitude }}</p>
        <p><strong>Price:</strong> {{ item.chemist_longitude }}</p>

        <p><strong>Price:</strong> {{ item.chemist_state }}</p>
        <p><strong>Price:</strong> {{ item.chemist_zipcode }}</p>

        <p><strong>Price:</strong> {{ item.order_patient_name }}</p>
        <p><strong>Price:</strong> {{ item.pharmacist_name }}</p>

        <p><strong>Price:</strong> {{ item.delivery_note }}</p>
        <p><strong>Price:</strong> {{ item.payment_status }}</p>

        <p><strong>Price:</strong> {{ item.patient_id }}</p>
        <p><strong>Price:</strong> {{ item.delivery_pin }}</p>

        <p><strong>Price:</strong> {{ item.payment_ref_id }}</p>
        <p><strong>Price:</strong> {{ item.medicine_details }}</p>

        <p><strong>Price:</strong> {{ item.prescription_details }}</p>
        <p><strong>Price:</strong> {{ item.payment_url }}</p>



        <p><strong>Available:</strong> {{ item.order_status ? "Not Available" : "Available" }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
<!-- <mat-accordion multi="true" *ngIf="!loading && getMedicineCount() > 0">
  <ng-container *ngFor="let item of ordersToDisplay">



    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

          {{ item.medicine_name }}
        </mat-panel-title>

      </mat-expansion-panel-header>

      <table mat-table [dataSource]="[item]" class="mat-elevation-z8">
        <ng-container matColumnDef="dosage_type">
          <th mat-header-cell *matHeaderCellDef>dosage_type</th>
          <td mat-cell *matCellDef="let element">{{ element.dosage_type }}</td>
        </ng-container>

        <ng-container matColumnDef="medicine_name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.medicine_name }}</td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.content }}</td>
        </ng-container>
        <ng-container matColumnDef="mrp">
          <th mat-header-cell *matHeaderCellDef>mrp</th>
          <td mat-cell *matCellDef="let element">{{ element.mrp }}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>
        <ng-container matColumnDef="medicine_id">
          <th mat-header-cell *matHeaderCellDef>medicine_id</th>
          <td mat-cell *matCellDef="let element">{{ element.medicine_id }}</td>
        </ng-container>
        <ng-container matColumnDef="packing_size">
          <th mat-header-cell *matHeaderCellDef>packing_size</th>
          <td mat-cell *matCellDef="let element">{{ element.packing_size }}</td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef>size</th>
          <td mat-cell *matCellDef="let element">{{ element.size }}</td>
        </ng-container>
        <ng-container matColumnDef="manufacturer_name">
          <th mat-header-cell *matHeaderCellDef>manufacturer_name</th>
          <td mat-cell *matCellDef="let element">{{ element.manufacturer_name }}</td>
        </ng-container>
        <ng-container matColumnDef="medicine_type">
          <th mat-header-cell *matHeaderCellDef>medicine_id</th>
          <td mat-cell *matCellDef="let element">{{ element.medicine_type }}</td>
        </ng-container>
        <ng-container matColumnDef="gst_percentage">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.gst_percentage }}</td>
        </ng-container>
        <ng-container matColumnDef="available_for_patient">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.available_for_patient }}</td>
        </ng-container>
        <ng-container matColumnDef="discontinued">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.discontinued }}</td>
        </ng-container>

        <ng-container matColumnDef="available">
          <th mat-header-cell *matHeaderCellDef>Availability</th>
          <td mat-cell *matCellDef="let element">
            {{ element.ordered ? "Not Available" : "Available" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef>Order</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="primary"
              [disabled]="element.ordered"
            >
              Order
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion> -->
