mat-sidenav-container {
  height: 100vh;

  mat-sidenav {
    width: 255px;
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;

    main {
      padding: 1rem;
      flex: 1 1 auto;
    }
  }
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 28px;
    z-index: 100;
    background-color: #673ab7;
    color: white;
    transition: opacity 0.3s ease-in-out;
  }



}
